/* Variables generales */
/* Colores */
:root{
    --rojo: #e2001a;
    --azul: #001c3a;
}

.texto-rojo{
  color:var(--rojo)
}



/* Encabezado */
.encabezado{
    background-color: var(--rojo);
    color: white;
    height: 2rem;
    font-size: 12px;
}

.encabezado p{
    margin: 5px;
}

.encabezado a{
    color: white;
}


/* Navegacion */
.menu_nav{
  padding: 10px;
}

.icono-nav{
  width: 50px;
  color: var(--rojo);
  margin: -10px;
}



.main{
  background-color: #e2001a;
}




/* Media Querys */
@media screen and (max-width: 440px) {
    .encabezado {
        flex-direction: column; 
        height: auto; 
        justify-content: center;
        align-items: center;
    }
    
    .encabezado p {
        margin: 5px 0; 
    }
}

@media screen and (max-width: 767px){
  .enlaces-nav{
    display: flex;
    flex-direction: column;
  }

  .iconos-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}
